
  body {
   background-image: url("img/tv.jpeg");
   background-repeat: no-repeat;
   background-size: cover;
  }

  h1 {
   color: white;
   font-size: 48px;
   text-align: center;
   margin-top: 100px;
   text-shadow: 2px 2px 4px #000000;
  }

  button {
   font-size: 24px;
   padding: 12px 24px;
   background-color:  #ba1e1e;
   border: none;
   border-radius: 8px;
   color: white;
   cursor: pointer;
   position: absolute;
   bottom: 50px;
   left: 50%;
   transform: translateX(-50%);
  }

  button:hover {
   background-color: #ba1e1e;
  }

  .container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-top: 50px;
  }

  .video {
   margin: 20px;
  }

  .play-button {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 48px;
   color: white;
   cursor: pointer;
  }
 